/* MAIN OPTIONS PAGE */
.mf_admin_submit {
  margin-top:25px !important;
}

#mf_options_form input {
  vertical-align:middle;
}

.mf_tb_label {
  display:inline-block;
  width:350px;
}

/* ADS OPTIONS PAGE */
.parent_ad_box {
  margin-top:25px;
}

.mf_ad_hidden_area {
  color:white;
  margin-top:5px;
  padding:15px;
  border:1px solid #AAA;
  border-radius:10px;
  background:#0078AE;
}

.ad_area_text {
  width:75%;
  height:200px;
  border-radius:5px;
}

/* FORUM STRUCTURE PAGE */
.mf_fset {
  border:2px solid #999;
  margin-top:25px;
  border-radius:10px;
  padding:15px;
  background:#EFF8FF;
}

.mf_fset legend {
  font-size:14px;
  font-weight:bold;
  background:lightgray;
  padding:5px;
  border:1px solid #999;
  border-radius:5px;
}

.mf_fset label {
  cursor:move;
}

.mf_ordered_list {
  margin:0;
  padding:0;
}

li.ui-state-default {
  list-style-type:none;
  margin:10px;
  padding:10px;
  cursor:move;
}

li.ui-state-highlight {
  list-style-type:none;
  margin:10px;
  padding:22px;
}

a#mf_add_new_category,
a.mf_add_new_forum {
  padding-left:8px;
}

a.mf_remove_category,
a.mf_remove_forum {
  float:right;
}
